{% extends 'reviews/base.html' %}
{# {% load review_extras %} -- You might not need this anymore if model_type was the only filter #}

{% block content %}
    <div class="d-flex justify-content-around m-4">
        <a href="{% url 'ticket-create' %}" class="btn btn-dark">Demander une critique</a>
        <a href="{% url 'ticket-and-review-create' %}" class="btn btn-dark">Créer une critique</a>
    </div>
    {% if posts %} {# Use 'posts' as the context variable name #}
        {% for post in posts %} {# Iterate over 'post' #}
            {% if post.content_type == 'TICKET' %}
                {% include 'reviews/partials/ticket_snippet.html' with ticket=post home_page=True %}
            {% elif post.content_type == 'REVIEW' %} {# Use elif for efficiency #}
                {% include 'reviews/partials/review_snippet.html' with review=post home_page=True %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-center">Aucun contenu à afficher.</p>
        <p class="text-center">Commencez par <a href="{% url 'ticket-create' %}">demander une critique</a>, ou <a href="{% url 'following' %}">suivez d'autres utilisateurs</a> !</p>
    {% endif %}
{% endblock %}