.form-group {
    margin-bottom: 15px;
    width: 300px;
}

.form-wide .form-group {
    width: 800px;
}

.form-group label {
    display: block; /* Ensure labels stack above inputs */
    margin-bottom: 5px; /* Add spacing between label and input */
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"], /* Added file input */
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    color: #000;
    font-family: sans-serif;
}

/* Remove border for file inputs */
.form-group input[type="file"] {
    border: none;
    border-radius: 0; /* Remove rounded corners since there's no border */
}

.form-group textarea {
    text-align: left;
    resize: vertical;
}

::placeholder {
    color: #aaa;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #aaa;
}

::-ms-input-placeholder {
    color: #aaa;
}

.button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button.primary {
    background-color: #000;
    color: #fff;
    width: 300px;
}

.button.secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.button.secondary.small {
    padding: 8px 15px;
    font-size: 0.8em;
    margin-top: 5px;
}

.form-wide .button.primary {
    width: 150px;
    align-self: flex-end;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 0.9em;
}

/* Override file input styles */
.file-upload-wrapper,
.file-upload-label,
.file-upload-label span,
.file-upload-label .browse-button {
    display: none;
}

/* Style for "Max 2048 caractères" text */
.form-text {
    font-size: 10px;
    color: #aaa;
    margin-top: 5px;
    display: block;
}