{% extends 'base_with_header.html' %} 
{% load static %} 

{% block title %}LITReview - Demander une critique{% endblock %} 

{% block content %}
    <div class="container">
        <h2>Demander une critique</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" class="form-wide" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Titre</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }}
                <span class="form-text">Max 2048 caractères</span>
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Image</label>
                {{ form.image }}
            </div>
            <button type="submit" class="button primary">Envoyer</button>
        </form>
        <!-- <a href="{% url 'flux' %}" class="button secondary small">Retour</a> -->
    </div>
{% endblock %}