{% extends 'base_with_header.html' %} 
{% load static %} 

{% block title %}LITReview - Créer une critique{% endblock %} 

{% block content %}
    <div class="container">
        <h2>Créer une critique</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" class="form-wide" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.book_title.id_for_label }}">Titre du livre</label>
                {{ form.book_title }}
            </div>
            <div class="form-group">
                <label for="id_ticket_description">Description</label>
                <textarea name="ticket_description" rows="5" class="form-control"></textarea>
                <span class="form-text">Max 2048 caractères</span>
            </div>
            <div class="form-group">
                <label for="id_image">Image</label>
                <input type="file" name="image" id="id_image">
            </div>
            <div class="form-group">
                <label for="{{ form.headline.id_for_label }}">Titre de la critique</label>
                {{ form.headline }}
            </div>
            <div class="form-group">
                <label for="{{ form.body.id_for_label }}">Description</label>
                {{ form.body }}
                <span class="form-text">Max 2048 caractères</span>
            </div>
            <div class="form-group">
                <label>{{ form.rating.label }}</label>
                <div class="star-rating">
                    {% for value, label in form.rating.field.choices reversed %}
                        <input type="radio" name="rating" id="id_rating_{{ forloop.counter0 }}" value="{{ value }}" {% if form.rating.value == value|stringformat:"s" %}checked{% endif %}>
                        <label for="id_rating_{{ forloop.counter0 }}">★</label>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="button primary">Envoyer</button>
        </form>
    </div>
{% endblock %}