{% extends 'base_with_header.html' %} 
{% load static %} 

{% block title %}LITReview - Supprimer une critique{% endblock %} 

{% block content %}
    <div class="container">

        <h2>Supprimer une critique</h2>
        <p>Êtes-vous sûr de vouloir supprimer "{{ review.headline }}" ?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="button primary">Confirmer la suppression</button>
        </form>
        <p></p>
        <a href="{% url 'home' %}" class="button secondary">Annuler</a>
    </div>
{% endblock %}